h2 Aggregate Bill Data
p.
  #{ pages.getTopPercent }% of Bills make up
  #{ Math.round( pages.topPagesPercent ) }% of the total pages since the beginning of
  the 111th Congress. The top #{ pages.getTopNumber } Bills alone account for
  #{ pages.topNumber }% of the total pages in the same span.
p.stat-item
  span.stat-desciption Average number of pages per bill:
  span.stat-value  #{ ( pages.pages / pages.numBills ).toFixed( 2 ) }
p.stat-item
  span.stat-desciption Median number of pages:
  span.stat-value  #{ pages.pageStore[ pages.pageStore.length / 2 ] }
p.stat-item
  span.stat-desciption Largest number of pages:
  span.stat-value  #{ Math.max.apply( null, pages.pageStore ) }
