P. 
  Bill ID:
  #{ data.bill_id.toUpperCase() }
p.
  Sponsor:
  #{ data.sponsor.title } #{ data.sponsor.first_name } #{ data.sponsor.last_name }
P.
  Official Bill Title: <br>
  #{ data.official_title }